$ion-menu-background: var(--ion-item-background, var(--ion-background-color, #fff));
$ion-menu: #222428;
$color: #fff;

$padding-toolbar: 10px;
$padding-note: 5px;
$padding-list-header: 10px;

$selected-color: #fff;
$color-icon: #616e7e;

ion-toolbar {
  padding-bottom: $padding-toolbar;
}

ion-menu.md ion-note {
  padding-bottom: $padding-note;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: $padding-list-header;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color:  $selected-color;
}

ion-menu.md ion-item ion-icon {
  color: $color-icon;
}

ion-item.selected {
  --color: #fcfcfc;
}

ion-menu.md ion-item.selected {
  --background: #fb6002;
}