<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main-content" class="invert">
    <ion-header>
      <ion-toolbar class=" ion-text-center">
        <ion-label>
          <div>
            <ion-text class="font-title">
              Panthera
            </ion-text>
          </div>
          <ion-note class="ion-text-center">
            <ion-text color="light" class="font-size-xs letter-spacing-s">
              Movie Rating
            </ion-text>
          </ion-note>
        </ion-label>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item (click)="selectedMovie = 0" lines="none" [routerLink]="['/', 'movies']" detail="true"
            [class.selected]="selectedMovie == 0" class="font-size-xs">
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Popular</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item (click)="selectedMovie = 1" lines="none" [routerLink]="['/', 'movie-list']" detail="true"
            [class.selected]="selectedMovie == 1" class="font-size-xs">
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>Movie List</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item-divider class="list-divider">
          <ion-label>
            <ion-text class="ion-text-light">
              CATEGORIZED BY GENRE
            </ion-text>
          </ion-label>
        </ion-item-divider>
      </ion-list>

      <ion-list id="labels-list">
        <ion-item (click)="onFilter(genre)" *ngFor="let genre of genres$ | async" lines="none" fill="none"  detail="false" [class.selected]="selectedGenre == genre.id" button class="font-size-xs">
          <ion-icon slot="end" color="dark" name="caret-forward"></ion-icon>
          <ion-label>{{ genre?.genreType }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>